<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.emupapps.free_editor">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.emupapps.free_editor.helper.FreeCutApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_free_cut"
        android:roundIcon="@mipmap/ic_launcher_free_cut"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl"
        android:requestLegacyExternalStorage="true">

        <activity android:name="com.emupapps.free_editor.ui.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.emupapps.free_editor.ui.activities.PermissionActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.emupapps.free_editor.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>